footer{
  height: 20%;
  text-align: center;
  background-color: #673ab7;
  color: white;
}

div{
  padding-top: 1%
}
.git{
  font-size: 32pt;
  font-weight: bolder;
}
a{
  color: white;
  text-decoration: none;
}
