<div class="map-container" >
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [minZoom]="13"
  [maxZoom]="16"
  [restriction]="restriction"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [iconUrl]="m.iconUrl"
    [markerDraggable]="false"
    (dragEnd)="markerDragEnd(m, $event)">

    <agm-info-window>
      <p><strong>Cattle Id:</strong> {{m.cattleId}}</p>
      <p><strong>Status:</strong> {{m.status}}</p>
      <p><strong>Description:</strong> {{m.description}}</p>
      <p><strong>Coordinates:</strong> (Lat: {{m.lat.toFixed(2)}}, Long: {{m.lng.toFixed(2)}})</p>
    </agm-info-window>

  </agm-marker>

  <agm-circle [latitude]="lat" [longitude]="lng"
              [radius]="4750"
              [fillColor]="'blue'"
              [circleDraggable]="false"
              [editable]="true">
  </agm-circle>

</agm-map>
</div>
